@import "../functions/str-remove-whitespace";
@import "../functions/str-split";
@import "../functions/str-replace";

@mixin rootModifier($stringToAppend: null) {
  $splitString: str-split('#{&}', '.');
  $rootSelector: ".#{nth($splitString, 2)}";
  $rootSelectorAppended: str-remove-whitespace(#{$rootSelector}#{$stringToAppend});
  $postSelector: str-replace(#{&}, #{$rootSelector});

  @at-root #{$rootSelectorAppended $postSelector} {
    @content;
  }

  @warn '@mixin rootModifier Will get deprecated in next big release, in advance of assigning \& as a variable.'
}
