@import "../../functions/str_split";
@import "rt";

@mixin responsive-typography($typo) {
  @each $i in $typo {
    $headerTitle: nth($i, 1);
    $headerSizes: nth($i, 2);
    $headerIndex: str_split($headerTitle, 'h');

    #{$headerTitle} {
      @for $headerIndex from 1 through length($headerSizes) {
        $headerSize: nth($headerSizes, $headerIndex);

        @if $headerIndex == 1 {
          font-size: $headerSize;
        }

        @if $headerIndex >= 2 {
          @include rt($headerSize, $headerIndex);
        }
      }
    }
  }
}
