$breakpoint: (410px, 700px, 1200px);

@mixin respTypoBp($headerSize, $index) {
  @if length($headerSize) == 1 {
    $breakpoint: nth($breakpoint, $index);
    @media (min-width: $breakpoint) {
      font-size: $headerSize;
    }
  }

  @if length($headerSize) == 2 {
    $hs: nth($headerSize, 1);
    $breakpoint: nth($headerSize, 2);

    @media (min-width: $breakpoint) {
      font-size: $hs;
    }
  }
}
