// Mixin to force an element restricted by its container, to be full width.
// See demo: https://codepen.io/christofferbergj/pen/vrYZMV

@mixin full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
